
    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           BOOTSTRAP                            //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

$theme-colors: (
  "primary": #1B3355,
  "secondary": #E9B71E,
	"dark": #3B3B3B,
  "mediumdark": #9a9a9a,
  "medium": #DBDBDB,
	"light": #F7F7F7,
  "lightest": #fbfbfb,
  "confirm": #28a745,
  "warning": #dc3545,
  "confirmfade": rgba(40,167,69,.1),
  "warningfade": rgba(220,53,69,.1),
	"primaryfade": rgba(27,51,85,.1),
  "secondarydark": #7e661e,
  "darkfade": rgba(59,59,59,.1)
);

// BOOTSTRAP VARIABLE CHANGES
$enable-gradients: true;
$enable-responsive-font-sizes: true;
$font-size-base: .9rem; //reduces entire app font size!
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    6: ($spacer * 4), //additional spacer variables (eg, mt-6, mt-7)
    7: ($spacer * 5)
  ),
  $spacers
);

// REDECLARE CUSTOM COLORS FOR CSS USE
$primary: #1B3355;
$secondary: #E9B71E;
$dark: #3B3B3B;
$mediumdark: #9a9a9a;
$medium: #DBDBDB;
$light: #F7F7F7;
$lightest: #fbfbfb;
$confirm: #28a745;
$warning: #dc3545;
$confirmfade: rgba(40,167,69,.1);
$warningfade: rgba(220,53,69,.1);
$primaryfade: rgba(27,51,85,.1);
$secondarydark: #7e661e;
$darkfade: rgba(59,59,59,.1);

// IMPORT BASE BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap';

// IMPORT BOOTSTRAP-VUE
@import '../node_modules/bootstrap-vue/src/index.scss';

// IMPORT FONT AWESOME
$fa-font-path: '../node_modules/@fortawesome/fontawesome-pro/webfonts';
@import '../node_modules/@fortawesome/fontawesome-pro/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-pro/scss/light.scss';
@import '../node_modules/@fortawesome/fontawesome-pro/scss/regular.scss';
@import '../node_modules/@fortawesome/fontawesome-pro/scss/solid.scss';


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           GLOBAL                               //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

html, div, p, h1, h2, h4, h5, button {
  font-family: 'Montserrat' !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased;
}

p {
  text-align: justify;
  margin-bottom: 0;
}

i {
  color: $dark;
}

//CURSOR TYPES
.cursorDefault {
  cursor: default !important;
}
.cursorPointer {
  cursor: pointer !important;
}
.cursorHand {
  cursor: grab !important;
}
.cursorDisabled {
  cursor: not-allowed !important;
}

// CHANGES SELECTION COLOR
::-moz-selection { /* for Firefox */
  color: $light;
  background: $secondary;
}
::selection {
  color: $light;
  background: $secondary;
}

.close {
  float: unset;
  text-shadow: unset;
  opacity: unset;
}

.close:hover, .close:hover::after {
  font-weight: 500 !important;
}

.close:active, .close:active::after {
  opacity: .6;
}



    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           ALERTS                               //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.alert-dismissible .close {
 visibility: hidden;
 font-size: 1.4rem;
 opacity: 1;
 line-height: 1.3;
}

.alert-dismissible .close::after {
  visibility: visible;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  color: $dark;
  content: "\f00d";
  @extend .align-middle;
  @extend .cursorPointer;
  @extend .mt-1;
}

//CUSTOM CLOSE BUTTON
.alertConfirm.alert-dismissible .close::after {
  @extend .text-success;
}

//CUSTOM CLOSE BUTTON
.alertWarning.alert-dismissible .close::after {
  @extend .text-warning;
}

//CUSTOM CLOSE BUTTON
.alertInfo.alert-dismissible .close::after {
  @extend .text-info;
}

.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

.customAlert {
  @extend .mt-3;
  @extend .m-2;
  @extend .mb-5;
  @extend .pt-3;
  @extend .pr-4;
  @extend .pb-4;
  @extend .pl-4;
}

.alertListItem {
  border: 0px solid black;
  background: unset !important;
  @extend .font-weight-bolder;
  @extend .list-group-item;
}

.alert .progress {
  @extend .bg-white;
}



    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           BREADCRUMB                           //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.breadcrumb {
  @extend .bg-transparent;
  @extend .border-bottom;
  @extend .rounded-0;
  @extend .text-dark;
}

.breadcrumb-item a {
  @extend .text-medium;
}

.breadcrumb-item a:hover {
  @extend .text-decoration-none;
  color: $dark !important; //color override
}

.breadcrumb-item.active {
  @extend .text-dark;
}

.breadcrumb-item + .breadcrumb-item::before {
  @extend .text-mediumdark;
}



    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           BUTTONS                              //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.btnNavigation {
  @extend .shadow-sm;
  @extend .m-2;
  @extend .pr-3;
  @extend .pl-3;
  height: 34px;
}

.btnNavigation:focus:active {
  outline: none; //prevents visual outline on click
  box-shadow: inset 0 0 0 0px white !important;
}

.btnFunction:focus:active {
  outline: none; //prevents visual outline on click
  box-shadow: inset 0 0 0 2px white !important;
}

button:focus, .btnNavigation:focus, .btnFunction:focus {
   box-shadow: 0 0 0 4px $medium !important; //retains WCAG standard for screen readers
}

.btnNavigation {
  transition: color .35s ease-out, background-color .35s ease-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.btnNavigation:active {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.btnFunction {
  @extend .m-2;
  @extend .pr-4;
  @extend .pl-4;
  height: 34px;
}

.btnDisabled {
  @extend .text-muted;
}

.btnIcon {
  color: inherit;
}

.btnIconRight {
  @extend .ml-2;
  @extend .align-baseline;
}

.btnIconLeft {
  @extend .mr-2;
  @extend .align-baseline;
}

.btnText {
  @extend .d-inline-block;
  @extend .align-top;
}

.borderRadiusMax {
  border-radius: 2em;
}



// // NAVIGATION STANDARD // // // // // // // // // // //
.btnStandard {
  @extend .rounded-0;
  @extend .text-primary;
  @extend .border-primary;
}

.btnStandard:active {
  background-color: rgba($primary, 1) !important; //required for correct opacity
  @extend .text-white;
}

.btnStandardPressed {
  pointer-events: none;
  @extend .rounded-0;
  @extend .bg-primary;
  @extend .border-primary;
  @extend .text-white;
}

// // NAVIGATION CONFIRM // // // // // // // // // // //
.btnConfirm {
  @extend .rounded-0;
  @extend .text-confirm;
  @extend .border-confirm;
}

.btnConfirm:active {
  background-color: rgba($confirm, 1) !important; //required for correct opacity
  @extend .text-white;
}

.btnConfirmPressed {
  pointer-events: none;
  @extend .rounded-0;
  @extend .bg-confirm;
  @extend .border-confirm;
  @extend .text-white;
}

// // NAVIGATION WARN // // // // // // // // // // //
.btnWarning {
  @extend .rounded-0;
  @extend .text-warning;
  @extend .border-warning;
}

.btnWarning:active {
  background-color: rgba($warning, 1) !important; //required for correct opacity
  @extend .text-white;
}

.btnWarningPressed {
  pointer-events: none;
  @extend .rounded-0;
  @extend .bg-warning;
  @extend .border-warning;
  @extend .text-white;
}

// // NAVIGATION FEEDBACK // // // // // // // // // // //
.btnFeedback {
  @extend .rounded-0;
  @extend .text-secondary;
  @extend .border-secondary;
}

.btnFeedback:hover {
  background-color: rgba($secondary, .12);
}

.btnFeedback:active {
  background-color: rgba($secondary, 1) !important;
  @extend .text-white;
}

// // FUNCTION STANDARD // // // // // // // // // // //
.btnFunctionStandard {
  @extend .borderRadiusMax;
  @extend .text-dark;
  @extend .border-dark;
}

.btnFunctionStandard:hover {
  box-shadow: inset 0 0 0 2px $medium !important;
  background-color: unset !important;
}

.btnFunctionStandard:active {
  background-color: rgba($darkfade, 1) !important; //required for correct opacity
  @extend .text-white;
}

.btnFunctionPressed {
  pointer-events: none;
  @extend .borderRadiusMax;
  @extend .bg-dark;
  @extend .border-dark;
  @extend .text-white;
}

// // FUNCTION HIGHLIGHTED // // // // // // // // // // //
.btnFunctionHighlighted {
  @extend .borderRadiusMax;
  @extend .text-secondary;
  @extend .border-secondary;
}

.btnFunctionHighlighted:hover {
  box-shadow: inset 0 0 0 2px rgba($secondary, .3) !important;
  background-color: unset !important;
}

.btnFunctionHighlighted:active {
  background-color: rgba($secondary, 1) !important; //required for correct opacity
  @extend .text-white;
}

.btnFunctionHighlightedPressed {
  pointer-events: none;
  @extend .borderRadiusMax;
  @extend .bg-secondary;
  @extend .border-secondary;
  @extend .text-white;
}



    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           ICONS                                //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//ADD - SINGLE
.iconAddSingle {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-user-cog;
  @extend .p-1;
}

//ADD - MULTIPLE
.iconAddMultiple {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-users-cog;
  @extend .p-1;
}

//ARROW
.iconArrow {
  @extend .far;
  @extend .fa-arrow-right;
  @extend .p-1;
}

//CALENDAR
.iconCalendar {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-calendar-alt;
  @extend .p-1;
}

//CHEVRON
.iconChevron {
  @extend .far;
  @extend .fa-chevron-right;
  @extend .p-1;
}

//CLOSE
.iconClose {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-times;
  @extend .p-1;
}

//CONFIRM
.iconConfirm {
  @extend .far;
  @extend .fa-check;
  @extend .p-1;
}

//COPY
.iconCopy {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-clone;
  @extend .p-1;
}

//DASH
.iconDash {
  @extend .align-middle;
  @extend .fal;
  @extend .fa-horizontal-rule;
  @extend .p-1;
}

//DELETE
.iconDelete {
  @extend .fal;
  @extend .fa-window-close;
  @extend .p-1;
  @extend .text-warning;
}

//EDIT
.iconEdit {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-money-check-edit;
  @extend .p-1;
}

//EDITED
.iconEdited {
  @extend .fas;
  @extend .fa-pencil-alt;
  @extend .p-1;
  @extend .text-secondary;
}

//FILE
.iconFile {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-folder-open;
  @extend .p-1;
}

//INFORMATION
.iconInformation {

}

//INPUT SELECT
.iconInputSelect {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-sort;
  @extend .p-1;
}

//PREVIOUS
.iconPrevious {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-share-square;
  @extend .fa-rotate-180;
  @extend .p-1;
}

//QUESTIO
.iconQuestion {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-question-circle;
  @extend .p-1;
}

//REMOVE
.iconRemove {
  @extend .far;
  @extend .fa-ban;
  @extend .p-1;
}

//SEARCH
.iconSearch {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-search;
  @extend .p-1;
}

//SETTINGS
.iconSettings {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-cog;
  @extend .p-1;
}

//SHADOW
.iconShadow {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-user-secret;
  @extend .p-1;
}

//SPINNER
.spinner-grow-sm {
  margin-top: .15rem; //fine tune spinner inline spacing
}

//USER
.iconUser {
  @extend .fal;
  @extend .fa-lg;
  @extend .fa-user;
  @extend .p-1;
}

//WARN
.iconWarning {
  @extend .fas;
  @extend .fa-lg;
  @extend .fa-exclamation-square;
  @extend .p-1;
  @extend .text-warning;
}

.iconBorder {
  border: .5px solid;
  color: inherit;
  @extend .p-2;
  @extend .rounded-sm;
}

.iconBorder:hover { //fix this to work correctly
  box-shadow: 0px 0px 0px .5px inset !important;
  font-weight: 900;
}

.btn.badge {
  border: 0px solid transparent !important; // ?????
}

.badge {
  outline: none;
  font-weight: inherit;
  padding: 0;
}

.iconHover:hover {
    font-weight: 900;
}



.info {
  outline: none;
}
a.info:hover {
  color: $dark !important;
}
.popover {
  @extend .shadow-sm;
  max-width: 250px;
  margin: 1.5em 1em 1.5em 1em !important; //sets popover position
  border-radius: 0;
}
.popover-header {
  background-color: unset;
  text-align: center;
  padding: .75em 1em;
}
.popover-body {
  text-align: center !important;
  padding: .75em 1.5em .75em 1.5em;
}
.bs-tooltip-top {
  margin-bottom: .5em !important;
}
.tooltip-inner {
  background-color: $dark;
  color: white;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: $dark;
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  border-right-color: $dark;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $dark;
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
  border-left-color: $dark;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                          IMAGES                                //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.modal-dialog {
    display: table;
}
.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.center-cropped img {
  min-height: 100%;
  min-width: 100%; //
  /* IE 8 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                            FORMS                               //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding-left: .8rem;
  padding-top: .5rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  //left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  //border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .6rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: .6rem;
  color: $medium
}



input, textarea, select {
  font-family: 'Montserrat';
  font-weight: 500 !important;
  box-shadow: unset !important;
}
.custom-control-label {
    font-family: 'Montserrat', sans-serif;
}
.form-control:focus {
  border-color: $dark !important;
  box-shadow: 0px 1px 0px 0px $dark !important;
}
.form-control:disabled {
  background-color: $light !important;
  color: $medium !important;
}
.placeholder-dim::placeholder {
  color: $medium !important;
}
.form-control {
  border-radius: 0rem !important;
  color: $dark;
}
.form-control::placeholder {
  color: $medium !important;
}
.form-control.is-valid {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%2328a745' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'%3E%3C/path%3E%3C/svg%3E");
  background-position: 98% calc(.375em + .1875rem) !important;
}
.form-control.is-invalid {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='exclamation-square' class='svg-inline--fa fa-exclamation-square fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23dc3545' d='M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm-207.691 96h63.382c6.884 0 12.357 5.78 11.982 12.654l-7.418 136c-.347 6.364-5.609 11.346-11.982 11.346h-48.546c-6.373 0-11.635-4.982-11.982-11.346l-7.418-136c-.375-6.874 5.098-12.654 11.982-12.654zM224 398c-25.405 0-46-20.595-46-46s20.595-46 46-46 46 20.595 46 46-20.595 46-46 46z'%3E%3C/path%3E%3C/svg%3E");
  background-position: 98% calc(.375em + .1875rem) !important;
}
select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 97%; //sets position of custom open arrows
    background-repeat: no-repeat;
    padding-right: 1.5em;
    color: $dark !important;
}
.close-icon { //red "clear" button for search field
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
}
.search-box:not(:valid) ~ .close-icon {
	display: none; //hides "clear" button
}
.input-group-prepend {
  position: absolute; //positions magnifying glass icon
  z-index: 5;
}
.input-group-text {
  display: inline-block;
  background-color: unset;
  border: none;
  margin-top: .1em; //detailed position fix for magnifying glass
}
small {
  font-weight: 300;
}
.p1-5 {
  padding-top: .15em;
}
.search-box[type=text]:focus {
  border: 1px solid $secondary !important;
  box-shadow: 0px 0px 0px 0px $secondary !important;
}
.custom-select {
  background: url("http://sandcastle.co/cdn/ebydesign/triton/sort-light.svg");
  background-position: 97% 50% !important;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: 20px 20px;
}
.custom-select-hover:hover {
  background: url("http://sandcastle.co/cdn/ebydesign/triton/sort-solid.svg");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: 20px 20px;
}
.hero-image {
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.custom-select-hover:active {
  opacity: .8;
}
.custom-select-disabled {
  background: url("http://sandcastle.co/cdn/ebydesign/triton/sort-disabled.svg") no-repeat right 1rem center/20px 20px;
}
option {
  font-weight: 300;
}
select:not(:disabled) option:not(:disabled):not(:checked):hover {
  opacity: .7;
}
.options {
  margin-left: 1em;
}
 option:checked {
  background-color: $dark !important;
}
.editor {
  font-size: 1rem;
}

    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                         LIGHTBOX                               //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.modal-content {
  @extend .rounded-0;
}

.modal-footer {
  @extend .d-inline-block;
}

.modal-header .close {
 visibility: hidden;
 font-size: 1.4rem;
 opacity: 1;
 line-height: 1.3;
}

.modal-header .close::after {
  visibility: visible;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  color: $dark;
  content: "\f00d";
  @extend .align-middle; //update this
  @extend .cursorPointer;
  @extend .mt-1;
}

.lightboxCountdown {
  width: 20px !important;
  @extend .d-inline-block;
  @extend .text-center;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                            ROW                                 //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.rowItem {
  @extend .mt-1;
  @extend .mb-0;
  @extend .rounded-0;
  @extend .d-inline-block;
  @extend .text-left;
  height: 34px !important; //standard height for all row items
  transition: border-color 0s ease-in-out;
}

.rowStandard {
  @extend .text-dark;
  @extend .bg-light;
}

.rowExpandable {
  color: $dark;
  background-color: $light;
}

.show.collapse { //what it looks like OPEN
  @extend .bg-dark;
}

.show:not(.collapse) .rowExpandable { //what it looks like CLOSED
  @extend .bg-light;
}

.rowItemContent {
  @extend .align-text-top; //add a display inline or inline block here?
  @extend .row;
  @extend .pl-4;
  @extend .pr-0;
  height: 20px;
}

.rowItemPrefix {
  @extend .d-inline;
  @extend .align-middle;
  @extend .col-1;
  @extend .pr-0;
  @extend .pl-0;
  max-width: 7% !important;
  height: 20px;
}

.rowItemText {
  @extend .d-inline;
  @extend .col-10;
  @extend .pl-0;
  @extend .text-left;
  height: 20px;
}

.rowItemSuffix {
  @extend .text-right;
  @extend .d-inline;
  @extend .col-1;
  @extend .pr-0;
  height: 20px;
}

.rowDisabledText {
  @extend .text-medium;
}

.rowExpandableContent {
  @extend .w-100;
  @extend .rounded-0;
  box-shadow: 0px 0px 0px .5px $dark inset !important;
  margin-top: -2px;
  border-top-style: solid;
  border-top-color: $dark;
  border-top-width: 1px;
}

button.rowItem:focus {
  background-color: $light !important;
}

button.rowExpandable:hover, button.rowExpandable:focus:active  {
  @extend .cursorPointer;
}

button.rowItemHover:hover, button.rowItemHover:focus:active {
  box-shadow: 0px 0px 0px .5px $mediumdark inset !important;
  background-color: $light !important;
}

.rowItemHover:focus:active {
  outline: none; //prevents visual outline on click
  box-shadow: inset 0 0 0 0px white !important;
}

button.rowItemHover:focus {
   box-shadow: 0 0 0 4.5px $medium !important; //retains WCAG standard for screen readers
   background-color: $light !important;
}

button.rowClickable:active:focus {
   box-shadow: 0px 0px 0px 1px $dark inset !important;
   background-color: rgba($medium,.4) !important;
}

button.rowClickable:hover {
   box-shadow: 0px 0px 0px .5px $mediumdark inset !important;
   background-color: $light !important;
}

button.rowDisabled:hover, button.rowDisabled:focus:active {
  box-shadow: 0 0 0 0 $light inset !important;
}

//update or remove most of the following

.card {
  font-family: 'Montserrat', sans-serif;
	font-weight: 300;
  display: inline-block !important;
}
.card-hover:hover {
  box-shadow: 0px 0px 0px 1px $medium inset;
  color: black !important;
}
.card-hover:hover div {
  color: black !important;
}
.columns-1 {
    column-count: 1;
}
.icon-top{
  margin-top: .1rem;
}
.highlighted {
    box-shadow:0px 0px 0px 1px #E9B71E inset;
}
.checkbox-size {
  font-size: 1.5em; //custom sizing required for icon
}
.toggle-size {
  font-size: 1.65em; //custom sizing required for icon
}

.item-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-border {
  box-shadow: 0px 4px 0px 0px $dark !important;
}

.custom-switch .custom-control-label::before {
  top: 0 !important;
  width: 2.2rem !important;
  height: 1.3rem !important;
  left: -2.2rem !important;
  background-color: unset !important;
  transition: background-color .2s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.custom-checkbox .custom-control-label::before {
  top: 0 !important;
  width: 2.2rem !important;
  height: 1.3rem !important;
  left: -1.4rem !important;
  background-color: unset !important;
  transition: background-color .2s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.custom-switch .custom-control-label::after,
.custom-switch .custom-control-label-disabled::after {
  @extend .border;
  @extend .border-dark;
  background-color: unset;
  left: calc(-2.3rem + 6px) !important;
  width: calc(1rem - 3px) !important;
  height: calc(1rem - 3px) !important;
  top: .23rem !important;
}

.custom-switch .custom-control-label::after {
  transition: transform .2s ease-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.custom-switch .custom-control-label::before {
  border-radius: 1rem !important;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important; //remove shadow on toggle click
}
.custom-control-input ~ .custom-control-label::before,
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  @extend .border-dark; //custom toggle border color
}

.custom-control-input-disabled {
  pointer-events: none;
}

.custom-control-input-disabled:not(:disabled):active ~ .custom-control-label::before {
  background: $light !important;
}

.custom-control-input-disabled.custom-control-input:checked ~ .custom-control-label::before {
  background: $medium !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background: $dark !important;
  @extend .border-dark;
}

.custom-control-input-disabled:checked ~ .custom-control-label::before {
  @extend .bg-medium;
  @extend .border-medium;
}
.custom-control-input-disabled ~ .custom-control-label::before,
.custom-control-input-disabled:focus:not(:checked) ~ .custom-control-label::before {
  @extend .border-medium; //custom toggle border color
}

.custom-switch .custom-control-label-disabled::after {
  @extend .bg-light;
  @extend .border-medium;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  @extend .bg-white;
  @extend .border;
  @extend .border-white;
}

//location and size of checkbox
.custom-checkbox .custom-control-label::before {
  width: 1.2rem !important;
  height: 1.2rem !important;
  top: .05rem!important;
}

//location and size of the checkbox checkmark
.custom-checkbox .custom-control-label::after {
  top: -0.2rem !important;
  left: -1.65rem !important;
  width: 1.6rem !important;
  height: 1.6rem !important;
}

.custom-radio .custom-control-label::before{
  width: 1.45rem !important;
  height: 1.45rem !important;
  top: .1rem !important;
}
.custom-radio .custom-control-label::after{
  width: 1.6rem !important;
  height: 1.6rem !important;
  top: 0rem!important;
  left: -1.6rem !important;
  position: relative !important;
}
label {
  margin-bottom: 0 !important;
}
#chevron {
  display: none;
}
.icon {
  transition: all 0.5s 0s;
  transform: rotate(-90deg) translate(2px);
  cursor: pointer;
}
#chevron:checked + .icon {
  transform: rotate(0deg) translate(0px);
}
#expand {
  transition: background-color .3s linear; //sets anim time for 'expanding'
}
.tog-header {
  background-color: $dark !important;
  color: $light !important;
  font-weight: 300;
}
.tog-header i {
  color: $light !important;
}
.mt-n2-5 {
  margin-top: -.3rem !important;
}
[type="button"] {
  -webkit-appearance: unset; //what does this do?
}
.sub-hr {
  border-color: $dark;
}
.underline-dotted {
  text-decoration-style: dotted;
}



    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                          SIDE BAR                              //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.nav {
  @extend .bg-lightest;
}

.navHeight {
  min-height: 100vh; //unused currently, but for full-height side nav
}

.nav-pills .nav-link{
  @extend .rounded-0;
}

.nav-pills .nav-link.active {
  @extend .bg-white;
  border-right: 4px solid $primary;
  font-weight: 700;
  margin-right: -.3em;
}

.nav-pills .nav-link.active:hover {
  @extend .bg-white;
  @extend .cursorPointer;
  font-weight: 700;
  opacity: 1;
}

.nav-pills .nav-link:hover  {
  opacity: .6;
  background: $gray-100;
}

.nav-pills .show > .nav-link {
  @extend .bg-white;
  font-weight: 700;
  border-right: 4px solid $primary;
  opacity: 1;
  margin-right: -.3em;
}

.nav-break {
  border-top: 1px solid rgba($primary, .7);
}

//IMPORT STYLES FOR THE STYLEGUIDE
@import 'library.scss';
