
    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           BOOTSTRAP                            //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

$theme-colors: (
  "primary": #1B3355,
  "secondary": #E9B71E,
	"dark": #3B3B3B,
  "mediumdark": #9a9a9a,
  "medium": #DBDBDB,
	"light": #F7F7F7,
  "lightest": #fbfbfb,
  "confirm": #73a541,
  "warning": #dc3545,
  "info": #19488f,
  "confirmfade": rgba(115,165,65,.1),
  "warningfade": rgba(220,53,69,.1),
	"primaryfade": rgba(27,51,85,.1),
  "secondarydark": #7e661e,
  "darkfade": rgba(59,59,59,.1)
);

// BOOTSTRAP VARIABLE CHANGES
$enable-gradients: true;
$font-size-base: .9rem; //reduces entire app font size!
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    6: ($spacer * 4), //additional spacer variables (eg, mt-6, mt-7)
    7: ($spacer * 5)
  ),
  $spacers
);

// REDECLARE CUSTOM COLORS FOR CSS USE
$primary: #1B3355;
$secondary: #E9B71E;
$dark: #3B3B3B;
$mediumdark: #9a9a9a;
$medium: #DBDBDB;
$light: #F7F7F7;
$lightest: #fbfbfb;
$confirm: #73a541;
$warning: #dc3545;
$info: #19488f;
$confirmfade: rgba(115,165,65,.1);
$warningfade: rgba(220,53,69,.1);
$primaryfade: rgba(27,51,85,.1);
$secondarydark: #7e661e;
$darkfade: rgba(59,59,59,.1);

// IMPORT BASE BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap';

// IMPORT BOOTSTRAP-VUE
@import '../node_modules/bootstrap-vue/src/index.scss';

// IMPORT FONT AWESOME
$fa-font-path: '../node_modules/@fortawesome/fontawesome-pro/webfonts';
@import '../node_modules/@fortawesome/fontawesome-pro/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-pro/scss/light.scss';
@import '../node_modules/@fortawesome/fontawesome-pro/scss/regular.scss';
@import '../node_modules/@fortawesome/fontawesome-pro/scss/solid.scss';

//IMPORT DATE PICKER
@import '../node_modules/vue-airbnb-style-datepicker/dist/vue-airbnb-style-datepicker.min.css';



    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           GLOBAL                               //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

html, div, p, h1, h2, h4, h5, button {
  font-family: 'Montserrat' !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased;
}

h2 {
  @extend .text-primary;
  text-transform: none;
}

h4 {
  //text-transform: uppercase;
}

h5 {

}

h6 {
  text-transform: uppercase;
  @extend .py-2;
  @extend .px-3;
  @extend .mb-1;
  @extend .text-primary;
}

hr {
  @extend .bg-medium;
  @extend .mt-1;
  @extend .mb-4;
}

p {
  text-align: justify;
  margin-bottom: 0;
}

i {
  color: $dark;
}

a, a:hover {
  text-decoration: none;
}

.supportText {
  font-size: 85%;
}

.unselectableText {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//CURSOR TYPES
.cursorDefault {
  cursor: default !important;
}
.cursorPointer {
  cursor: pointer !important;
}
.cursorHand {
  cursor: grab !important;
}
.cursorDisabled {
  cursor: not-allowed !important;
}

// CHANGES SELECTION COLOR
::-moz-selection { /* for Firefox */
  color: $light;
  background: $secondary;
}
::selection {
  color: $light;
  background: $secondary;
}

.close {
  float: unset;
  text-shadow: unset;
  opacity: unset;
}

.close:hover, .close:hover::after {
  font-weight: 500 !important;
}

.close:active, .close:active::after {
  opacity: .6;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           ALERTS                               //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.alert {
  @extend .rounded-0;
}

.alert-dismissible .close {
 visibility: hidden;
 font-size: 1.4rem;
 opacity: 1;
 line-height: 1.3;
}

.alert-dismissible .close::after {
  visibility: visible;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  color: $dark;
  content: "\f00d";
  @extend .align-middle;
  @extend .cursorPointer;
  @extend .mt-1;
}

//CUSTOM CLOSE BUTTON
.alertConfirm.alert-dismissible .close::after {
  @extend .text-success;
}

//CUSTOM CLOSE BUTTON
.alertWarning.alert-dismissible .close::after {
  @extend .text-warning;
}

//CUSTOM CLOSE BUTTON
.alertMediumDark.alert-dismissible .close::after {
  @extend .text-dark;
}

.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

.fixed-bottom > button.close {
  padding-top: .45em;
  @extend .mt-2;
}

.fixed-bottom.alert {
  @extend .p-4;
}

.fixed-bottom > button.close::after {
  @extend .text-warning;
}

.customAlert {
  @extend .mt-3;
  @extend .m-2;
  @extend .mb-5;
  @extend .pt-3;
  @extend .pr-4;
  @extend .pb-4;
  @extend .pl-4;
}

.alertListItem {
  border: 0px solid black;
  background: unset !important;
  @extend .font-weight-bolder;
  @extend .list-group-item;
}

.alert .progress {
  @extend .bg-white;
}

.alertMediumDark {
  @extend .text-dark;
}



    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           BREADCRUMB                           //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.breadcrumb {
  @extend .bg-transparent;
  @extend .ml-4;
  @extend .rounded-0;
  @extend .text-dark;
  @extend .mb-0;
  @extend .py-3;
  @extend .pl-2;
  z-index: 1;
  font-size: 90%;
}

.breadcrumb-item a {
  @extend .text-medium;
}

.breadcrumb-item a:hover {
  @extend .text-decoration-none;
  color: $dark !important; //color override
}

.breadcrumb-item.active span {
  @extend .text-dark;
}

.breadcrumb-item + .breadcrumb-item::before {
  @extend .text-mediumdark;
}

.breadcrumbTop {
  @extend .position-absolute;
  top: 0px;
  left: 275px;
}

.breadcrumbBottom {
  @extend .position-absolute;
  bottom: 0px;
  left: 275px;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           BUTTONS                              //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.btn {
  border: 0px solid transparent;
}

.btnNavigation {
  @extend .border;
  @extend .m-2;
  @extend .px-3;
  @extend .rounded-0;
  @extend .shadow-sm;
  height: 34px;
}

.btnNavigation:focus:active,
.btnSmall:focus:active,
.searchClose:focus:active,
.btnThin:focus:active {
  outline: none; //prevents default visual outline on click
  box-shadow: inset 0 0 0 0px white !important;
}

button:focus, .btnNavigation:focus, .btnSmall:focus {
   box-shadow: 0 0 0 4px $medium !important; //custom WCAG solution for screen readers
}

.btnNavigation {
  transition: color .25s ease-out, background-color .25s ease-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.btnNavigation:active {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.btnIconRight {
  margin-top: -1px !important;
  @extend .align-baseline;
}

.btnIconLeft {
  margin-top: -1px !important;
  @extend .align-baseline;
}

.btnText {
  @extend .d-inline-block;
  @extend .align-top;
  @extend .px-2;
}

//STANDARD BUTTON

.btnStandard {
  @extend .text-dark;
  @extend .border-dark;
}

.btnStandard:hover,
.btnStandard:focus,
a.btnStandard:hover,
a.btnStandard:focus {
  background-color: rgba($dark, .1);
  color: $dark !important;
}

.btnStandard:active:focus {
  background-color: rgba($dark, 1) !important; //required for correct opacity
  @extend .text-white;
}

.btnStandardPressed {
  pointer-events: none;
  @extend .bg-dark;
  @extend .border-dark;
  @extend .text-white;
}

//CONFIRM BUTTON

.btnConfirm {
  @extend .text-confirm;
  @extend .border-confirm;
}

.btnConfirm:hover,
.btnConfirm:focus,
a.btnConfirm:hover,
a.btnConfirm:focus {
  background-color: rgba($confirm, .12);
  color: $confirm !important;
}

.btnConfirm:active:focus {
  background-color: rgba($confirm, 1) !important; //required for correct opacity
  @extend .text-white;
}

.btnConfirmPressed {
  pointer-events: none;
  @extend .bg-confirm;
  @extend .border-confirm;
  @extend .text-white;
}

//WARN BUTTON

.btnWarning {
  @extend .rounded-0;
  @extend .text-warning;
  @extend .border-warning;
}

.btnWarning:hover,
.btnWarning:focus,
a.btnWarning:hover,
a.btnWarning:focus {
  background-color: rgba($warning, .12);
  color: $warning !important;
}

.btnWarning:active:focus {
  background-color: rgba($warning, 1) !important;
  @extend .text-white;
}

.btnWarningPressed {
  pointer-events: none;
  @extend .rounded-0;
  @extend .bg-warning;
  @extend .border-warning;
  @extend .text-white;
}

//FEEDBACK BUTTON

.btnFeedback {
  @extend .rounded-0;
  @extend .text-secondary;
  @extend .border-secondary;
}

.btnFeedback:hover,
.btnFeedback:focus,
a.btnFeedback:hover,
a.btnFeedback:focus {
  background-color: rgba($secondary, .12);
  color: $secondary !important;
}

.btnFeedback:active:focus {
  background-color: rgba($secondary, 1) !important;
  @extend .text-white;
}

//ICON BUTTON

.btnSmall { //CLASS USED TO OVERRIDE STANDARD BTN STYLES FOR SMALL BUTTONS
  outline: none;
  font-weight: inherit;
  padding: 0;
  font-size: 75%; //pulled from .badge standard class
  @extend .rounded-0;
  @extend .mx-1;
  @extend .align-text-bottom;
}

.btn.btnSmall {
  border: 0px solid transparent !important; // ?????
}

.btn-outline-primaryfade:hover {
  background-color: rgba($dark, .1) !important;
  border-color: $dark;
}

.iconBorderMini {
  border: 1px solid;
  color: inherit;
  @extend .rounded-0;
}

.iconBorderStd {
  border: 1px solid;
  height: auto;
  color: inherit;
  padding: 11px 11px 11px 11px !important;
  @extend .rounded-sm;
  @extend .fa-lg;
  @extend .rounded-0;
}

.btn-outline-primaryfade:active i.iconBorder,
.btn-outline-primaryfade:active i.iconBorderMini,
.btn-outline-primaryfade:active i.iconBorderStd, {
  background-color: rgba($dark, 1) !important; //required for correct opacity
  box-shadow: 0px 0px 0px 1px inset $dark !important;
  @extend .text-white;
}

.btn-outline-confirmfade:active i.iconBorder,
.btn-outline-confirmfade:active i.iconBorderMini,
.btn-outline-confirmfade:active i.iconBorderStd {
  background-color: rgba($confirm, 1) !important; //required for correct opacity
  box-shadow: 0px 0px 0px 1px inset $confirm !important;
  @extend .text-white;
}

.btn-outline-warningfade:active i.iconBorder,
.btn-outline-warningfade:active i.iconBorderMini,
.btn-outline-warningfade:active i.iconBorderStd
{
  background-color: rgba($warning, 1) !important; //required for correct opacity
  box-shadow: 0px 0px 0px 1px inset $warning !important;
  @extend .text-white;
}

//THIN BUTTON

.btnThin {
  @extend .border;
  @extend .rounded-0;
  @extend .text-mediumdark;
  @extend .border-mediumdark;
  @extend .mx-1;
}

.btnThin:hover,
.btnThin:focus,
a.btnThin:hover,
a.btnThin:focus {
  background-color: rgba($mediumdark, .12);
  color: $mediumdark !important;
}

.btnThin:active:focus {
    background-color: rgba($mediumdark, 1) !important;
    @extend .text-white;
}

//DISABLED

.btnDisabled {
  @extend .text-mediumdark;
  @extend .border-medium;
  box-shadow: 0 0 0 0px $dark !important;
}

.disabledButtonContainer {
  @extend .d-inline;
  @extend .pb-2;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                          FOOTER                                //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

footer {
  @extend .col;
  @extend .p-4;
  @extend .bg-lightest;
  @extend .border-top;
  @extend .text-mediumdark;
  @extend .mx-0;
  font-size: 90%;
}

.footerItem {
  @extend .py-1;
  @extend .mx-1;
  @extend .supportText;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           ICONS                                //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//ADD USER
.iconAddSingle {
  @extend .fal;
  @extend .fa-user-plus;
  @extend .p-1;
  color: inherit;
}

//ARROW
.iconArrow {
  @extend .fal;
  @extend .fa-arrow-right;
  @extend .p-1;
  color: inherit;
}

//CALENDAR
.iconCalendar {
  @extend .fal;
  @extend .fa-calendar-alt;
  @extend .p-1;
  color: inherit;
}

//CHEVRON
.iconChevron {
  @extend .fal;
  @extend .fa-chevron-right;
  @extend .p-1;
  font-size: 100% !important;
  color: inherit;
}

//CLOSE
.iconClose {
  @extend .fal;
  @extend .fa-times;
  @extend .p-1;
  @extend .text-center;
  color: inherit;
}

//CONFIRM
.iconConfirm {
  @extend .far;
  @extend .fa-check;
  @extend .p-1;
  color: inherit;
}

//COPY
.iconCopy {
  @extend .fal;
  @extend .fa-clone;
  @extend .p-1;
  color: inherit;
}

//DASH
.iconDash {
  @extend .fal;
  @extend .fa-horizontal-rule;
  @extend .align-middle;
  @extend .p-1;
  color: inherit;
}

//DELETE
.iconDelete {
  @extend .fal;
  @extend .fa-window-close;
  @extend .p-1;
  color: inherit;
}

//DOWNLOAD
.iconDownload {
  @extend .fal;
  @extend .fa-arrow-alt-to-bottom;
  @extend .p-1;
  color: inherit;
}

//EDIT
.iconEdit {
  @extend .fal;
  @extend .fa-money-check-edit;
  @extend .p-1;
  color: inherit;
}

//EDITED
.iconEdited {
  @extend .fal;
  @extend .fa-pencil-alt;
  @extend .p-1;
  color: inherit;
}

//ELLIPSIS
.iconEllipsis {
  @extend .far;
  @extend .fa-ellipsis-h;
  @extend .p-1;
  color: inherit;
}

//EXCLAMATION
.iconExclamation {
  @extend .fas;
  @extend .fa-exclamation-square;
  @extend .p-1;
  color: inherit;
}

//FOLDER ADD
.iconFolderAdd {
  @extend .fal;
  @extend .fa-folder-plus;
  @extend .p-1;
  color: inherit;
}

//FOLDER CLOSED
.iconFolderClosed {
  @extend .fal;
  @extend .fa-folder;
  @extend .p-1;
  color: inherit;
}

//FOLDER OPEN
.iconFolderOpen {
  @extend .fal;
  @extend .fa-folder-open;
  @extend .p-1;
  color: inherit;
}

//FOLDER REMOVE
.iconFolderRemove {
  @extend .fal;
  @extend .fa-folder-minus;
  @extend .p-1;
  color: inherit;
}

//GRABBABLE
.iconGrab {
  @extend .fal;
  @extend .fa-grip-lines-vertical;
  @extend .p-1;
  color: inherit;
}

//INHERIT
.iconInherited {
  @extend .fal;
  @extend .fa-sitemap;
  @extend .px-2;
  @extend .bg-lightest;
  @extend .border;
  @extend .border-mediumdark;
  padding-top: 5px;
  padding-bottom: 5px;
}

//INPUT SELECT
.iconInputSelect {
  @extend .fal;
  @extend .fa-sort;
  @extend .p-1;
  color: inherit;
}

//PREVIOUS
.iconPrevious {
  @extend .fal;
  @extend .fa-share-square;
  @extend .fa-rotate-180;
  @extend .p-1;
  color: inherit;
}

//QUESTIO
.iconQuestion {
  @extend .fal;
  @extend .fa-question-circle;
  @extend .p-1;
  color: inherit;
}

//REMOVE
.iconRemove {
  @extend .far;
  @extend .fa-ban;
  @extend .p-1;
  color: inherit;
}

//SAVE
.iconSave {
  @extend .fal;
  @extend .fa-save;
  @extend .p-1;
  color: inherit;
}

//SEARCH
.iconSearch {
  @extend .fal;
  @extend .fa-search;
  @extend .p-1;
  color: inherit;
}

//SETTINGS
.iconSettings {
  @extend .fal;
  @extend .fa-cog;
  @extend .p-1;
  color: inherit;
}

//SHADOW
.iconShadow {
  @extend .fal;
  @extend .fa-user-secret;
  @extend .p-1;
  color: inherit;
}

//SPINNER
.spinner-grow-sm {
  margin-top: 2px !important; //fine tune spinner inline spacing
  vertical-align: baseline !important;
}

//TRADE
.iconTrade {
  @extend .fal;
  @extend .fa-exchange;
  @extend .p-1;
  color: inherit;
}

//USER
.iconUser {
  @extend .fal;
  @extend .fa-user;
  @extend .p-1;
  color: inherit;
}

button:not(.btnSmall) > i:not(.btnIconRight) { //SET ALL ICONS' MARGIN
  @extend .mx-2;
}

button[class|=btn-outline] { //??????
  background-color: unset;
}

.iconHover:hover {
    font-weight: 900;
}

.bs-tooltip-top {
  margin-bottom: .5em !important;
}
.tooltip-inner {
  background-color: $dark;
  color: white;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: $dark;
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  border-right-color: $dark;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $dark;
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
  border-left-color: $dark;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                            FORMS                               //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//AUTOCOMPLETE

ul.ui-autocomplete {
  background-color: white;
  @extend .pl-0;
  width: 25% !important;
  margin-left: 5px !important;
}

.ui-autocomplete li {
  list-style: none;
  @extend .py-1;
  @extend .ml-0;
  @extend .pl-2;
  @extend .cursorDefault;
  left: 0;
}

.ui-widget input {
  font-family: 'Montserrat' !important;
  font-weight: 500 !important;
}

//

.form-label-group {
  position: relative;
  @extend .mb-2;
}

.form-label-group > input,
.form-label-group > label {
  height: 50px; //custom height for form fields
  padding-left: 1.2em;
}

.form-label-group > label {
  position: absolute;
  top: 1.05em;
  left: 1.1em;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: $mediumdark;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 0px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-out;
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group input:-ms-input-placeholder,
.form-label-group input::-ms-input-placeholder,
.form-label-group input::-moz-placeholder,
.form-label-group input::placeholder {
  color: transparent; //not sure what this does LOL
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.5rem;
  padding-bottom: .6rem;
  padding-left: 1.1em;
}

.form-label-group input:not(:placeholder-shown) ~ label { //styling for small text after input
  top:0;
  left: 0;
  padding-top: .5em;
  padding-left: 2.7em;
  font-size: .8em;
  color: $mediumdark;
}

.form-group .custom-radio {
  @extend .my-1;
  @extend .ml-1;
}

.form-group .custom-radio > label {
  @extend .pl-2;
}

input, textarea, select {
  font-family: 'Montserrat';
  font-weight: 500 !important;
  box-shadow: unset !important;
}
.custom-control-label {
    font-family: 'Montserrat', sans-serif;
}

.form-control:focus {
  border-color: $dark;
}

.form-control:focus.is-valid {
  box-shadow: 0 0 0 1px $confirm inset !important;
}

.form-control:focus.is-invalid {
  box-shadow: 0 0 0 1px $warning inset !important;
}

.form-control.is-valid + label,
.form-control.is-invalid + label {
  top:1em; //detail adjustment for valid or invalid colored labels
  left:.55em; //detail adjustment for valid or invalid colored labels
}

.form-control:disabled {
  background-color: $light !important;
  color: $medium !important;
  border-color: $medium !important;
  @extend .cursorDisabled;
}

.form-control:disabled::placeholder {
  color: $medium !important;
}

.form-control {
  @extend .rounded-0;
  border-color: $mediumdark;
  transition: all .1s ease-out;
}
.form-control::placeholder {
  color: $mediumdark;
}

.form-control.is-valid {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%2328a745' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'%3E%3C/path%3E%3C/svg%3E");
  background-position: 97% calc(.375em + .6875rem) !important;
}

.form-control.is-invalid {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='exclamation-square' class='svg-inline--fa fa-exclamation-square fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23dc3545' d='M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm-207.691 96h63.382c6.884 0 12.357 5.78 11.982 12.654l-7.418 136c-.347 6.364-5.609 11.346-11.982 11.346h-48.546c-6.373 0-11.635-4.982-11.982-11.346l-7.418-136c-.375-6.874 5.098-12.654 11.982-12.654zM224 398c-25.405 0-46-20.595-46-46s20.595-46 46-46 46 20.595 46 46-20.595 46-46 46z'%3E%3C/path%3E%3C/svg%3E");
  background-position: 97% calc(.375em + .6875rem) !important;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 97%; //sets position of custom open arrows
    background-repeat: no-repeat;
    padding-right: 1.5em;
    color: $dark !important;
}

.searchClose { //red "clear" button for search field
	background-color: transparent;
	vertical-align: middle;
  outline: 0;
  //@extend .float-right;
}

.searchBox:not(:valid) ~ .searchClose {
	display: none; //hides "clear" button
}

.searchBox {
  @extend .border-dark;
  @extend .d-inline;
}

.input-group-prepend i {
  @extend .text-dark;
  @extend .fa-lg;
}

.input-group-prepend {
  @extend .bg-light;
  @extend .border;
  @extend .border-mediumdark;
  height: 36px;
}

.input-group-text {
  @extend .text-dark;
  display: inline-block;
  background-color: unset;
  border: none;
  padding-top: 7px;
}

.searchBox[type=text]:focus {
  border: 1px solid $secondary !important;
  box-shadow: 0px 0px 0px 0px $secondary !important;
}

.hero-image {
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

option {
  font-weight: 300;
}

select:not(:disabled) option:not(:disabled):not(:checked):hover {
  opacity: .7;
}

.options {
  margin-left: 1em;
}

 option:checked {
  background-color: $mediumdark !important;
}

.editor {
  font-size: 1rem;
}

.ui-autocomplete {
  max-height: 200px; //set height for long lists
  overflow-y: auto;
  overflow-x: hidden; //prevent horizontal scrollbar
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                       GENERAL INPUT                            //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
  //@extend .text-light;
}

.asd__day--enabled:focus {
  outline: none;
}

.asd__change-month-button button {
  @extend .rounded-0;
  outline: none;
}

.asd__wrapper {
  @extend .border-dark;
}

.datepicker-open {
  @extend .border-dark;
}

.datepicker-trigger input {
  box-shadow: 0 0 0 0 transparent !important;
}

.badge {
  font-weight: 500;
  @extend .mr-2;
  @extend .unselectableText;
}

.nav-link > .badge {
  font-weight: 700;
  @extend .ml-1;
}

.custom-control-label::after {
  vertical-align: middle !important;
}

.custom-control-label::before {
  background-color: unset;
}

.custom-switch {
  padding-top: .05em !important;
}

.custom-switch .custom-control-label::before {
  top: 0 !important;
  width: 2.2rem !important;
  height: 1.3rem !important;
  left: -2.2rem !important;
  //background-color: unset !important;
  transition: background-color .2s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.custom-checkbox .custom-control-label::before {
  top: 0 !important;
  width: 2.2rem !important;
  height: 1.3rem !important;
  left: -1.4rem !important;
  background-color: unset !important;
  transition: background-color .2s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.custom-switch .custom-control-label::after,
.custom-switch .custom-control-label-disabled::after {
  @extend .border;
  @extend .border-dark;
  background-color: unset;
  left: calc(-2.3rem + 6px) !important;
  width: calc(1rem - 3px) !important;
  height: calc(1rem - 3px) !important;
  top: .23rem !important;
}

.custom-switch .custom-control-label::after {
  transition: transform .2s ease-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
  border-color: $warning !important;
}

.custom-switch .custom-control-label-disabled::after,
.custom-switch .custom-control-label-disabled::before {
  border-color: $mediumdark !important;
}

.custom-switch .custom-control-label-disabled::after {
  @extend .bg-light;
}

.custom-switch .custom-control-label-disabled::before {
  @extend .bg-light;
}

.custom-switch .custom-control-label::before {
  border-radius: 1rem !important;

}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important; //remove shadow on toggle click
}
.custom-control-input ~ .custom-control-label::before,
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  @extend .border-dark; //custom toggle border color
}

.custom-control-input-disabled {
  pointer-events: none;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: $dark;
}

.custom-control-input-disabled:not(:disabled):active ~ .custom-control-label::before {
  background: $light !important;
}

.custom-control-input-disabled.custom-control-input:checked ~ .custom-control-label::before {
  background: $medium !important;
  @extend .border-mediumdark;
}

 .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background: $confirm;
  border-color: #36521a !important;
}

 .custom-switch.custom-control-input-disabled:checked ~ .custom-control-label::before {
  background: $medium;

}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background: $dark !important;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  @extend .bg-white;
  @extend .border;
  @extend .border-white;
  box-shadow: 0 0 0 1px #36521a;
}

.custom-switch .custom-control-input-disabled:checked ~ .custom-control-label::after {
  box-shadow: 0 0 0 1px $mediumdark;
}

.custom-switch .custom-control-input-disabled:checked ~ .custom-control-label::before {
  border-color: $mediumdark !important;
}

//location and size of checkbox
.custom-checkbox .custom-control-label::before {
  width: 1.2rem !important;
  height: 1.2rem !important;
  top: .05rem!important;
  @extend .rounded-0;
}

//location and size of the checkbox checkmark
.custom-checkbox .custom-control-label::after {
  top: -0.1em !important;
  left: -1.55rem !important;
  width: 1.6em !important;
  height: 1.6em !important;
}

.custom-radio .custom-control-label::before{
  width: 1.25rem !important;
  height: 1.25rem !important;
  top: 0rem !important;
}
.custom-radio .custom-control-label::after{
  width: 1.38em !important;
  height: 1.38em !important;
  top: 0em!important;
  left: -1.65em !important;
  //position: relative !important;
}

label {
  margin-bottom: 0 !important;
}

.custom-select[size]:not([size="1"]) {
  padding-right: .65em;
}

select[disabled] > option[selected] {
  background-color: rgba($medium, .5);
}

//JQUERY UI STYLES

.ui-widget {
  font-family: 'Montserrat' !important;
  font-weight: 500 !important;
  background-color: white;
  outline: 0;
  @extend .rounded-0;
  @extend .border-mediumdark;
}

.ui-button:hover, .ui-button:focus, .ui-button:active {
  background-color: $light;
  @extend .text-dark;
}

.ui-menu {
  margin-top: -1px;
  @extend .p-2;
}

.ui-menu-item:not(.ui-state-disabled) .ui-menu-item-wrapper {
  @extend .pl-3;
}

.ui-widget-content .ui-state-disabled {
  @extend .ml-n3;
  @extend .pl-3;
}

.ui-widget-content .ui-state-active {
  border-color: $dark;
  background-color: $mediumdark;
}

.ui-widget-content .ui-state-active:active {
  background-color: $dark;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                          IMAGES                                //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

a > img:hover {
  box-shadow: 0 0 0 1px $dark;
  transition: .2s ease-out;
  text-decoration: none !important;
}

.imgIcon {
  left: -8%; // test this
  top: 43%; // test this
  position: relative;
  @extend .text-white;
  @extend .fa-2x;
  filter:drop-shadow(0px 0px 1px $dark);
  z-index: 5;
  opacity: 0;
  transition: .2s ease-out;
  box-shadow: 0 0 0 0px $dark;
}

img:hover + .imgIcon {
  opacity: 1;
  box-shadow: 0 0 0 0px $dark;
}

.imageThumbnail {
  @extend .card;
  @extend .border-dark;
  @extend .p-3;
  width: fit-content;
}

.centerCropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.centerCropped img {
  min-height: 100%;
  min-width: 100%; //
  /* IE 8 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                         LIGHTBOX                               //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.modal-header {
  @extend .px-4;
  @extend .py-4;
  @extend .border-0;
  @extend .rounded-0;
}

.modal-header h5 {
  @extend .mb-0;
}

.modal-header .close {
 visibility: hidden;
 font-size: 1.4rem;
 opacity: 1;
 line-height: 1.3;
 @extend .px-3;
 @extend .py-2;
}

.modal-header .close::after {
  visibility: visible;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  color: $dark;
  content: "\f00d";
  @extend .align-middle; //update this
  @extend .cursorPointer;
  @extend .mt-1;
}

.modal-content {
  @extend .rounded-0;
}

.modal-body {
  @extend .p-1;
  @extend .m-2;
}

.modal-footer {
  @extend .d-inline-block;
  @extend .bg-light;
  @extend .py-3;
  @extend .px-3;
  @extend .rounded-0;
}



.lightboxCountdown {
  width: 20px !important;
  @extend .d-inline-block;
  @extend .text-center;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                        PAGEINATION                             //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.pagination {
  @extend .mt-2;
}

.page-item,
.page-link,
.page-item.disabled {
  @extend .rounded-0;
}

.page-item.active {
  pointer-events: none;
}

.page-item.active .page-link,
.page-item.active:hover {
  @extend .text-white;
  @extend .bg-dark;
}

.page-link {
  width: 36px;
  height: 36px;
  @extend .text-center;
  @extend .text-dark;
}

.page-item.active a:focus {
  box-shadow: inset 0 0 0 1px white !important; //maintains WCAG
}

.page-item.active a.page-link:focus {
  background-color: $dark !important;
}

.page-link:focus {
  outline: none;
  @extend .border-dark;
  box-shadow: inset 0 0 0 0 !important;
}

[role=menuitemradio].page-link:hover { //styles for hover over numbers
  @extend .border-dark;
  @extend .bg-transparent;
}

[role=menuitem].page-link:focus, [role=menuitem].page-link:focus i {
  @extend .bg-transparent;
  @extend .fas;
}

[role=menuitem].page-link:hover {
  @extend .bg-transparent;
  @extend .fas;
}

[role=menuitem] i {
  border: 1px solid transparent;
  margin-top: -.23em;
  width: 10px; //prevents prev/next buttons from shifting content on hover
}

.page-item > [role=menuitem] {
  border: 0px;
  @extend .mx-0;
  @extend .fa-lg;
}

.page-item.disabled > [role=menuitem] { //styles for disabled arrow
  border: 0px;
  @extend .text-medium;
  @extend .mx-0;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                         POPOVER                                //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.popover {
  @extend .shadow-sm;
  @extend .rounded-0;
  max-width: 250px;
  margin: 1.5em 1em 1.5em 1em !important; //sets popover position
}
.popover-header {
  background-color: unset;
  text-align: center;
  padding: .75em 1em;
}
.popover-body {
  @extend .text-center;
  padding: .75em 1.5em .75em 1.5em;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                            ROWS                                //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.rowItem {
  @extend .mt-1;
  @extend .mb-0;
  @extend .rounded-0;
  @extend .d-inline-block;
  @extend .text-left;
  height: 34px !important; //standard height for all row items
  transition: border-color 0s ease-in-out;
}

.rowStandard {
  @extend .text-dark;
  @extend .bg-light;
}

.rowExpandable {
  color: $dark;
  background-color: $light;
}

.rowHighlightSecondary {
  box-shadow:0px 0px 0px 1px $secondary inset;
}

.rowHighlightConfirm {
  box-shadow:0px 0px 0px 1px $confirm inset;
}

.rowHighlightWarning {
  box-shadow:0px 0px 0px 1px $warning inset;
}

.rowItemContent {
  @extend .align-text-top; //add a display inline or inline block here?
  @extend .row;
  height: 20px;
}

.rowItemPrefix {
  @extend .d-inline;
  @extend .align-middle;
  @extend .mr-2;
  @extend .px-4;
  width: 30px;
  height: 20px;
}

.rowItemText {
  @extend .col-auto;
  @extend .text-left;
  @extend .text-truncate;
  height: 20px;
  white-space: nowrap;
}

.rowItemSuffix {
  @extend .text-right;
  @extend .d-inline;
  @extend .align-text-top;
  @extend .col;
  height: 20px;
}

.rowDisabledText {
  @extend .text-medium;
}

.rowItemPrefix i, .rowItemSuffix > i:not(.iconBorderMini) {
  @extend .fa-lg;
}

.rowExpandableContent {
  @extend .w-100;
  @extend .rounded-0;
  margin-top: -2px;
  border-top-style: solid;
  border-top-color: $dark;
  border-top-width: 1px;
}

.rowTitle {
  pointer-events: none;
  @extend .bg-dark;
  @extend .text-white;
  @extend .pl-3;
}

.sortableGroup {
  @extend .mx-auto;
  @extend .col-5;
  @extend .border;
  @extend .border-mediumdark;
  @extend .p-3;
  @extend .m-1;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
}

.rowExpandableContent.card { //for nested row elements, should have a more specific selector
  @extend .rounded-0;
  margin-top: -2px;
  @extend .d-inline-flex;
}

.rowExpandableContent .card-body { //for nested row elements
  width: 95%;
  @extend .ml-auto;
}

button.rowItem:focus {
  background-color: $light !important;
}

button.rowExpandable:hover, button.rowExpandable:focus:active  {
  @extend .cursorPointer;
}

button.rowItemHover:hover, button.rowItemHover:focus:active {
  box-shadow: 0px 0px 0px .5px $mediumdark inset !important;
  background-color: $light !important;
}

.rowItemHover:focus:active {
  outline: none; //prevents visual outline on click
  box-shadow: inset 0 0 0 0px white !important;
}

button.rowItemHover:focus {
   box-shadow: 0 0 0 4.5px $medium !important; //retains WCAG standard for screen readers
   background-color: $light !important;
}

button.rowClickable:active:focus {
   box-shadow: 0px 0px 0px 1px $dark inset !important;
   background-color: rgba($medium,.4) !important;
}

button.rowClickable:hover {
   box-shadow: 0px 0px 0px .5px $mediumdark inset !important;
   background-color: $light !important;
}

button.rowDisabled:hover, button.rowDisabled:focus:active {
  box-shadow: 0 0 0 0 $light inset !important;
}

.ui-state-highlight { //sets visual placeholder when dragging a "moveable" row
  background-color: rgba($secondary, 0);
  width: 100%;
  height: 34px !important;
  @extend .mt-1;
  @extend .mb-0;
  @extend .d-inline-block;
  @extend .text-left;
}

.ui-sortable-handle {
  border-right: 3px solid $medium;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                          SIDE NAV                              //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.sideNav.card {
  @extend .text-right;
  @extend .border-0;
  @extend .d-block;
}

.tab-content > .card-body {
  @extend .pt-2;
  @extend .px-0;
}

.sideNav.card ul.card-header {
  @extend .bg-lightest;
  @extend .px-0;
  @extend .py-5;
  width: 275px;
  min-height: 100vh;
}

.sideNav.card .tab-content {
  @extend .ml-4;
  @extend .pl-2;
  @extend .mt-5;
  min-width: 300px;
}

.sideNav .nav-link {
  @extend .rounded-0;
  @extend .py-2;
  text-transform: uppercase;
}

.sideNav .nav-link.disabled span {
  @extend .text-medium;
}

.sideNav .nav-link:hover  {
  @extend .bg-white;
  @extend .text-primary;
  text-shadow: 0px 0px 0 $primary;
}

.sideNav a.nav-link:hover {
  color: $primary !important;
}

.sideNav .nav-link.active {
  @extend .text-primary;
  @extend .bg-white;
  border-right: 4px solid $primary;
  font-weight: 700;
  margin-right: -.3em;
}

.sideNav .nav-link.active:hover {
  @extend .bg-white;
  @extend .cursorPointer;
  font-weight: 700;
  opacity: 1;
}

.sideNav .show > .nav-link {
  @extend .bg-white;
  font-weight: 700;
  border-right: 4px solid $primary;
  opacity: 1;
  margin-right: -.3em;
}

.navBreak {
  border-top: 1px solid rgba($primary, .8);
  @extend .mb-3;
  @extend .mt-2;
  @extend .mr-1;
  @extend .ml-4;
}

.sideNav span {
  @extend .text-primary;
}

span.edited::before {
  font-weight: 700;
  font-family: "Font Awesome 5 Pro";
  content: "\f303";
  @extend .fa-sm;
  @extend .mr-2;
  @extend .text-secondary;
  text-shadow: 0px 0px 0 transparent !important;
}

span.edited:hover::before {
  color: $secondary !important;
}



    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                          TABLE                                 //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.table th {
  border: 0px solid transparent !important;
  @extend .bg-dark;
  @extend .text-white;
  @extend .py-2;
  @extend .px-3;
}

.table td {
  padding-top: 6px; //specific value used to set the cell height to same as Row Component height
  padding-bottom: 6px; //specific value used to set the cell height to same as Row Component height
  @extend .px-3;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $light;
}

.table-bordered td {
  border-width: 1px !important;

}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                             TABS                               //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.tabsNav.card {
  @extend .d-block;
  border: none;
}

.tabsNav .card-body {
  border-width: 0px 1px 1px 1px;
  border-color: $medium;
  border-style: solid;
  @extend .p-3;
}

.tabs > .card-header {
  @extend .border-medium;
  @extend .bg-lightest;
}

.nav-tabs > .nav-item a {
  @extend .text-mediumdark;
}

.nav-tabs > .nav-item a:focus {
  outline: none;
}

.nav-tabs .nav-link.active {
  @extend .text-dark;
  border-color: $mediumdark transparent white transparent;
}

.nav-tabs .nav-link {
  @extend .rounded-0;
}

.nav-tabs .nav-link:not(.active):hover {
  border-color: transparent;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                         TIMELINE                               //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.timeline {
  @extend .container;
  @extend .py-2;
}

.timelineStatus {
  @extend .col-2;
}

.timelineStatusIcon {
  @extend .border;
  width: 25px;
  border-radius: 5em;
}

.timelineStatusText {
  @extend .ml-2;
  font-weight: 600;
}

.timelineDescription {
  @extend .col-5;
  @extend .pl-0;
  margin-top: .15em; //detailed adjustment to align with Status
}

.timelineDescriptionDate {
  @extend .mb-2;
}

.timelinePath {
  @extend .position-absolute;
  @extend .mb-n1;
  margin-left: 0.75em;
  margin-top: 2.3em;
  bottom:0;
  height: -webkit-fill-available;
  border-right-width: 2px;
  border-right-style: dashed;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                           TOASTS                               //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.toast div {
  font-weight: 600 !important;
  @extend .text-center;
}

.toast {
  @extend .rounded-0;
}


    // // // // // // // // // // // // // // // // // // // // // // //
   //                                                                //
  //                         TOP NAV                                //
 //                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.navbar {
  min-height: 68px;
}

.navbar-nav .nav-link {
  @extend .px-2;
}

.navbar-brand img {
  height: 30px;
}

.navbar-nav > .nav-item {
  @extend .text-white;
}

.dropdown-menu {
  @extend .rounded-0;
  margin-top: .9rem;
  @extend .text-primary;
  @extend .border-primary;
}

.dropdown-item {
  @extend .text-primary;
  font-size: 1.1em;
  font-weight: 500;
}

 a.dropdown-item:hover {
   color: $primary !important;
   text-shadow: 0px 0px 0 $primary;
 }

.dropdown-toggle::after {
    display: none;
    border: 0px solid transparent;
    vertical-align: unset;
}

.dropdownCustomToggle > a::after {
  @extend .d-inline-block;
  @extend .ml-1;
  font-family: "Font Awesome 5 Pro";
  @extend .fa-sm;
  font-weight: 300;
  content: "\f078";
  border: 0px solid transparent;
}

.navbar-dark .navbar-nav .nav-link.active:not(.dropdown)  { //update if padding changes on nav items
  box-shadow: inset .5rem 0px 0 0 $primary, inset -.5rem 0px 0 0 $primary, inset 0 -3px 0 0 $secondary;
}


//IMPORT STYLES ONLY REQUIRED FOR THE STYLEGUIDE
@import 'library.scss';
